@page
@model tuseTheProgrammer.Pages.Departments.IndexModel
@{
    ViewData["Title"] = "List Of Departments";
}


@if (!Model.Department.Any())
{
    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Hey!</strong> No record is avaliable now
    </div>
    <hr />
    <div class="row">
        <div class="ml-auto">
            <a asp-page="Create" class="btn btn-outline-primary">
                Add New Department
            </a>
        </div>
    </div>
}
else
{


<h1 class="text-info">Departments</h1>
    <hr />
    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> List of all departments...
    </div>
    <hr />
    <div class="row">
        <div class="ml-auto">
            <a asp-page="Create" class="btn btn-outline-primary">
                Add New Department
            </a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Department Id</th>
                    <th>Department Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var department in Model.Department)
                {

                    <tr>
                        <td>
                            @department.Id
                        </td>
                        <td>
                            @department.Dept
                        </td>
                        <td>
                            <a class="btn btn-outline-secondary mt-2" asp-route-id="@department.Id" asp-page="/Departments/Details">Details</a>
                            <a asp-route-id="@department.Id" class="btn btn-outline-primary mt-2" asp-page="/Departments/Edit">Edit</a>
                            <a class="btn btn-danger mt-2 text-white" asp-route-id="@department.Id" asp-page="/Departments/Delete">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
